@import "variables-mixins.less";

html {
    height: @full-height;
}

body {
    height: @full-height;
    font: 14px/18px 'Times New Roman', Times, sans-serif;
    background-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

ol,
ul {
    list-style: none;
}

.clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@media all and (min-width:320px){
    .container {
        max-width: 940px;
        margin: 0 auto;
    }

    #header {
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        padding: 20px 0;
        .logo{
            display: block;
            text-align: center;
        }
    }

    .nav {
        text-align: center;
        padding-top: 5px;
        display: block;
        li {
            display: inline-block;
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
        a {
            color: white;
            text-transform: uppercase;
            font-family: @font;
            text-decoration: none;
            &:hover {
                color: #fed136;
            }
        }
    }

    #home {
        height: 700px;
        background: #222 url("../img/home-bg.jpg") no-repeat center bottom;
        .background-size("cover");
        .container {
            padding-top: 190px;
            color: white;
            text-align: center;
        }
        h3 {
            font: 40px/40px @font;
            margin-bottom: 40px;
        }
        h1 {
            font: 75px/75px @font;
            text-transform: uppercase;
            margin-bottom: 50px;
        }
        .home-btn {
            background-color: #fed136;
            display: inline-block;
            color: white;
            padding: 20px 30px;
            font: bold 24px/24px @font;
            text-transform: uppercase;
            cursor: pointer;
            .border-radius("4px");
            &:hover {
                background-color: #e6ba22;
                color: white;
            }
        }
    }

    .block {
        padding: 20px 0;
    }

    #services,
    #portfolio {
        text-align: center
    }

    .title {
        text-transform: uppercase;
        font: bold 40px/40px @font;
        color: #222;
        margin-bottom: 10px;
    }

    .description {
        font-size: 16px;
        color: #777;
        margin-bottom: 30px;
    }

    .item {
        padding-top: 90px;
        &-title {
            font: bold 18px/18px @font;
            color: #222;
            margin-bottom: 24px;
        }
        &-description {
            font-size: 18px;
            line-height: 24px;
            color: #777;
            padding: 0 10px;
            margin-bottom: 30px;
        }
    }

    .e-commerce {
        background: url(../img/E-Commerce.png) no-repeat center top;
    }

    .responsive-web {
        background: url(../img/Responsive-Web.png) no-repeat center top;
    }

    .web-security {
        background: url(../img/Web-Security.png) no-repeat center top;
    }

    #portfolio {
        background-color: #f7f7f7;
        .clearfix {
            margin-bottom: 40px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .item {
            background-color:white;
            padding-top:0;
            max-height: 450px;
            max-width:381px;
            margin: 0 auto;
            img{
                width: 100%;
                border-bottom:2px inset #d8d8d8;
            }
            .bordered{
                margin: 15px;
                box-shadow: 1px 1px 5px 0px grey;
            }
            &-footer {
                padding:10px;
                &_title {
                    font: bold 18px/18px @font;
                    color: #222;
                    margin-bottom: 5px;
                }
                &_description {
                    font-size: 18px;
                    line-height: 24px;
                    color: #777;
                    padding: 0 10px;
                }
            }
        }
    }
}

@media all and (min-width:576px){
    #portfolio{
        .item{
            width:50%;
        }
    }
    .left-sm {
        float: left;
    }

    .right-sm {
        float: right;
    }
}

@media all and (min-width:576px) and (max-width:767px){
    .clearfix-sm {
        clear:both;
        &:before,
        &:after {
            content: "";
            display: table;
        }
        &:after {
            clear: both;
        }
    }
}

@media all and (min-width:768px){
    #home {
        .container {
            padding-top: 270px;
        }
    }
    .item {
        width: 33%;
    }
    .left-md {
        float: left;
    }

    .right-md {
        float: right;
    }
    #portfolio {
        .item {
            margin-right:3.5%;
            width:31%;
            &:nth-child(3n){
              margin-right:0;
          }
          &:nth-last-child(1),&:nth-last-child(2),&:nth-last-child(3){
              margin-bottom:0;
          } 
      }
  }
  .hide-md{
    display:none;
    position:absolute;
}
}

@media all and (min-width:992px){
    .left-lg {
        float: left;
    }

    .right-lg {
        float: right;
    }
}